<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="article : ${articles}">
    <div th:text="${article.content}"></div>

    <form action="update" method="post">
        <input type="hidden" name="articleId" th:value="${article.id}">
        <input type="submit" value="수정">
    </form>

    <form action="delete" method="post">
        <input type="hidden" name="articleId" th:value="${article.id}">
        <input type="submit" value="삭제">
    </form>
</div>
</body>
</html>
