<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>홈페이지 제목</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logo">
        <a href="#">
            <img src="logo.png" alt="Logo" />
        </a>
    </div>
    <h1>
        <a href="#">TodayLook</a>
    </h1>
    <div class="toggle-bar" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>
<nav id="menu">
    <ul th:unless="${boards.isEmpty()}" th:each="board: ${boards}">
        <li><a th:href="@{/boards/{id}(id=${board.id})}">[[${board.name}]]</a></li>
    </ul>
</nav>
<section id="weather-section">
    <h2 id="weather">날씨 그림</h2>
    <h2 id="temperature">온도</h2>
</section>
<script src="/js/script.js"></script>
</body>
</html>