<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<!-- 기욱  -->
<header class="showcase">
  <div class="showcase-top">
    <img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
    <a href="#" class="btn btn-rounded">Sign In</a>
  </div>
  <div class="showcase-content">
    <h1>대작 영화와 인기 시리즈, 그리고 게임까지! 월 5,500원으로 시작하세요</h1>
    <p>시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요</p>
    <form action="add" method="post" class="btn btn-xl">
      이메일: <input type="text" name="email">
      <input type="submit" value="시작하기">
    </form>
  </div>
</header>

<!-- 주윤님 -->
<div id="content">
  <div>
    <img src="popcorn.jpg" alt="" id="popcorn">
  </div>
  <div class="fontContent">
    <h3 class="first">5,500원이면 만날 수 있는 넷플릭스.</h3>
    <p class="second">광고형 스탠다드 멤버십에 가입하세요.</p>
    <a href="https://www.google.com" class="third">자세히 알아보기 ></a>
  </div>
</div>
</div>
<div id="tvFun">
  <div class="left">
    <h1 class="h1h1">TV로 즐기세요.</h1>
    <p class="pp">스마트 TV, PlayStation, Xbox, Chromecast, Apple TV, 블루레이 플레이어 등 다양한 디바이스에서 시청하세요.</p>
  </div>
  <div class="right">
    <img src="2.png" alt="" id="tvscreen">
  </div>
</div>

<!-- 병준님 -->
<div>
  <h1 class="text_center">자주 묻는 질문</h1>
</div>

<div>
  <ul>
    <li>
      <button class="btn-joo">넷플릭스에서 어떤 콘텐츠를 시청할 수 있나요?</button>
    </li>
    <li>
      <button class="btn-joo">넷플릭스란 무엇인가요?</button>
    </li>
    <li>
      <button class="btn-joo">넷플릭스 요금은 얼마인가요?</button>
    </li>
    <li>
      <button class="btn-joo">어디에서 시청할 수 있나요?</button>
    </li>
    <li>
      <button class="btn-joo">멤버십을 해지하려면 어떻게 하나요?</button>
    </li>
    <li>
      <button class="btn-joo">아이들이 봐도 좋을까요?</button>
    </li>
  </ul>
</div>

<div>
  <p class="text_center">시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.</p>
  <div class="text_center">
    <input class="input_text" type="text" value="이메일주소">
    <input class="input_submit" type="submit" value="시작하기 >">
  </div>
</div>

<!-- 동화님 -->
<footer>
  <div class="askBox">
    <p class="ask">질문이 있으신가요? 문의 전화: 00-308-321-0161 (수신자 부담)</p>
  </div>
  <div class="infoBox">
    <div class="info">자주 묻는 질문</div>
    <div class="info">고객 센터</div>
    <div class="info">계정</div>
    <div class="info">미디어 센터</div>
  </div>
  <div class="infoBox">
    <div class="info">투자 정보(IR)</div>
    <div class="info">입사 정보</div>
    <div class="info">넷플리스 지원 디바이스</div>
    <div class="info">이용 약관</div>
  </div>
  <div class="infoBox">
    <div class="info">개인정보 처리방침</div>
    <div class="info">쿠키 설정</div>
    <div class="info">회사 정보</div>
    <div class="info">문의하기</div>
  </div>
  <div class="infoBox">
    <div class="info">속도 테스트</div>
    <div class="info">법적 고지</div>
    <div class="info">오직 넷플릭스에서</div>
  </div>
  <div class="languageBox">
    <p>한국어</p>
  </div>
  <div class= "askBox2">
    <p class="ask">넷플릭스 대한민국</p>
  </div>
  <div class="askBox3">
    <p class="info2">넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호:
      <span style="text-decoration: underline">00-308-321-0161 (수신자 부담)</span></p>
    <p class="info2">대표: 레지널드 숀 톰프슨</p>
    <p class="info2">이메일 주소: korea@netflix.com</p>
    <p class="info2">주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층 우편번호 03161</p>
    <p class="info2">사업자등록번호: 165-87-00119</p>
    <p class="info2">클라우드 호스팅: Amazon Web Services Inc.</p>
    <p class="info2" style="text-decoration: underline">공정거래위원회 웹사이트</p>
  </div>
</footer>

</body>
</html>